.password-item{
    margin-bottom: 20px;
    padding: 10px;
}

.field-name{
    width: 90px;
    display: inline-block;
    vertical-align: middle;
}

.field-wrap{
    height: 30px;
    color: #5a4e4e;
    margin-bottom: 5px;
}

.field-wrap *{
    vertical-align: middle;
    box-sizing: border-box;
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    height: 30px;
}

.field-wrap input{
    height:28px;
    margin-left: -2px;
}

.buttons-box > div{
    margin-right: 10px !important;
}

.buttons-box .shower button {
    background-color: #abe6b5 !important;
}
